<div class="fc" id="amazonImport">
    <button pButton (click)="showImportDialog = true">Import from Amazon</button>
</div>

<form [formGroup]="guessInformationForm" (ngSubmit)="onSubmit()" id="baboInput" class="fc">

    <span class="p-float-label fc">
        <input id="float-input-price" type="text" formControlName="price" pInputText>
        <label for="float-input-price">Münzen</label>
    </span>

    <span class="p-float-label fc">
        <input id="float-input-name" type="text" formControlName="name" pInputText>
        <label for="float-input-name">Name</label>
    </span>

    <span class="p-float-label fc">
        <!-- <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" name="description" ngModel class="p-inputtext" id="float-input-description"></textarea> -->
        <textarea rows="10" cols="75" pInputTextarea autoResize="autoResize" name="description" ngModel class="p-inputtext" id="float-input-description"></textarea>
        <label for="float-input-description">Beschreibung</label>
    </span>

    <span class="p-float-label fc">
        <p-chips id="float-input-images" name="imageUrls" ngModel separator=" "></p-chips>
        <label for="float-input-images">Bilder Urls</label>
    </span>

    <!-- <p-chips name="imageUrls" ngModel separator=" "></p-chips> -->

    <button pButton type="submit">Dat weede der nie errate</button>

</form>


<p-dialog header="Amazon rein und feiern" [(visible)]="showImportDialog">
    <form [formGroup]="amazonImportForm" (ngSubmit)="importFromAmazon()">
        <span class="p-float-label">
            <input id="float-input-amazonUrl" type="text" formControlName="targetUrl" pInputText>
            <label for="float-input-amazonUrl">AmazonURL</label>
        </span>
        <button pButton type="submit" id="submitInput">Lad ren de Driss</button>
    </form>
</p-dialog>