img {
    height: 2.6rem;
    width: auto;
}

div {
    font-size: 2.4rem;
    color: var(--text-color);
}

.playerListElement {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.points {
    font-family: AngryBlu;
    font-size: 3rem;
    color: var(--primary-color);
}