.vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

div {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}