<div class="p-component">

    <div class="p-grid">
        <div class="p-col-6">
            <h1 class="title">KarottenKasino</h1>
        </div>
    </div>



    <div class="slider">
        <app-landing-screen-content-preview-slider></app-landing-screen-content-preview-slider>
    </div>

    <!-- <div class="p-grid">
        <div class="p-col-10 p-offset-1">
            <app-landing-screen-content-preview-slider></app-landing-screen-content-preview-slider>
        </div>
    </div> -->

    <!-- <app-debug></app-debug> -->
    
    <app-landing-screen-footer></app-landing-screen-footer>
</div>