<div class="p-component">

    <div class="p-grid">
        <div class="p-col-6">
            <h1 class="title">KarottenKasino</h1>
        </div>
        <div class="p-col-6">
            <landingScreen-menu></landingScreen-menu>
        </div>
    </div>


    <div class="p-grid">
        <div class="p-col-12">
            <landingScreen-content-preview-slider></landingScreen-content-preview-slider>
        </div>
    </div>


    <landingScreen-footer></landingScreen-footer>
</div>
<!-- <app-debug></app-debug> -->