.sliderContainer {
    height: 50vh;
    padding: var(--content-padding);
}

.productImages {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#textInfo {
    margin: 3rem;
}

#wrapper {
    height: 100%;
    width: 100%;
}