/* You can add global styles to this file, and also import other style files */

html {
    background-color: var(--surface-300);
    color: var(--text-color);
    font-family: var(--font-family);
}

@font-face {
    font-family: sketch;
    src: url("./assets/fonts/Sketch.woff") format("woff");
    font-weight: bold;
}

.title {
    font-family: sketch;
    color: var(--primary-color);
    font-size: 4.5rem;
}