@import url("../../../landing-screen/components/content-preview-slider/content-preview-slider.component.css");
.p-float-label {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.container {
    display: flex;
    justify-content: center;
}

#playbutton {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 570px) {
    .gameTitle {
        font-size: 3rem;
    }
    .container {
        margin-top: -35px;
    }
}