<p-toast key="tr-toast" position="top-right"></p-toast>
<p-toast key="bc-toast" position="bottom-center"></p-toast>



<div class="box">
    <div class="p-grid p-jc-between header" id="PIN-Header">

        <div class="p-col-12 p-md-3 p-lg-3 p-d-none p-d-md-inline-flex" [hidden]="!display">
            <p-sidebar [(visible)]="display" [style]="{width:'25%'}" [modal]=" false" [dismissible]="false"
                [closeOnEscape]="false" [baseZIndex]="9999">
                <a href="" class="homeText">&#11164; KarottenKasino</a>
                <app-player-list></app-player-list>
            </p-sidebar>
        </div>

        <div class="p-col-12 p-d-md-none">
            <a href="" class="homeText">&#11164; KarottenKasino</a>
        </div>

        <div class="p-col-12 p-md-3 p-lg-3" [hidden]="display">
            <p-button type="text" (click)="display = true" icon="pi pi-plus" label="Players List" [hidden]="display">
            </p-button>
        </div>
        
        <div class="p-col-12 p-md-6 p-lg-6" id="lobbyCode">
            Lobby : {{lobbyCode ?? "Lobby Code"}}
        </div>
        <div class="p-col-12 p-md-3 p-lg-3" id="gameName">
            DER PREIS IST NICE
        </div>

        <div class="p-col-12 p-d-md-none safearea">
            <app-player-list></app-player-list>
        </div>
    </div>

    <div class="dialogContainer">
        <div class="p-grid p-jc-center">
            <div class="p-col-12 p-md-3 p-lg-3" [hidden]="!display">&nbsp;</div>

            <div class="p-col-12 p-md-9 p-lg-9 dialogInputs">
                <div class="fullwidth" [hidden]="!(lobbyStatus === 3)">
                    <app-guess-result></app-guess-result>
                </div>
                <div id="babo-result" class="fullwidth p-d-md-none" [hidden]="!(isBabo && lobbyStatus === 3)">
                    <app-babo-result></app-babo-result>
                </div>
                <div class="fullwidth" [hidden]="!(isBabo && lobbyStatus === 1)">
                    <app-babo-input></app-babo-input>
                </div>
                <div class="fullwidth" [hidden]="!(lobbyStatus === 1)">
                    <div id="waiting">Warte bis der Babo ein Produkt ausgewählt hat</div>
                </div>
                <div class="fullwidth" [hidden]="!(lobbyStatus === 2 || lobbyStatus === 3)">
                    <app-guess-information></app-guess-information>
                </div>
                <div class="fullwidth" [hidden]="!(!isBabo && lobbyStatus === 2)">
                    <app-guess-input></app-guess-input>
                </div>
                <div id="babo-result" class="fullwidth" [hidden]="!(isBabo && lobbyStatus === 3)">
                    <app-babo-result></app-babo-result>
                </div>
            </div>
        </div>
    </div>
</div>