<p-toast key="tr-toast" position="top-right"></p-toast>
<p-toast key="bc-toast" position="bottom-center"></p-toast>

<div>

</div>

<div class="p-grid p-jc-between">
    <div class="p-col-12 p-md-4 p-lg-2">
        <player-list></player-list>
    </div>
    <div class="p-col-12 p-md-4 p-lg-2">
        {{lobbyCode ?? "Lobby Code"}}
    </div>
    <div class="p-col-12 p-md-4 p-lg-2">
        DER PREIS IST NICE
    </div>
</div>

<guess-information [hidden]="!(lobbyStatus === 2 || lobbyStatus === 3)">
</guess-information>
<babo-input [hidden]="!(isBabo && lobbyStatus === 1)"></babo-input>
<guess-result [hidden]="!(lobbyStatus === 3)"></guess-result>
<guess-input [hidden]="!(!isBabo && lobbyStatus === 2)"></guess-input>
<babo-result [hidden]="!(isBabo && lobbyStatus === 3)"></babo-result>